
body{background-color:#555;}

/* if divisions are going to be dynamically resized, then they need to be capped at a reasonable size, both large and small.*/
#doc{position:absolute;left:10px;top:10px;width:98.5%;height:100%;color:#888;}

	#header{position:absolute;left:0px;top:0px;height:300px;width:100%;background-color:#222;}
		#banner{}
			#banner_slides{}
		#title{}
		#member{}
			#member_form{}
		#links{}

	#body{position:absolute;left:0px;top:300px;height:500px;width:100%;background-color:#111;}
		#galleries{}
			/* logged in */
			.my_requested_photos{}
			.my_galleries{}
			/* visitor */
			.sample_gallery{}

		#feed{}
			#feed_container{}

		#info{}
			#about{}
			#contact{}

		#public_schedule{}

		/* admin */
		#admin_post{}
			#admin_post_schedule{}
			#admin_post_feed{}
			#admin_post_image{}
		#admin_edit{}
			#admin_edit_schedule{}
			#admin_edit_feed{}
			#admin_edit_gallery{}
			#admin_edit_about{}
			#admin_edit_contact{}
		#footer{position:absolute;left:0px;bottom:0px;height:20px;width:100%;background-color:#222;}
